html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-size: 100%;
  user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
html, body {
	padding: 0;
	margin: 0;
  font-family: 'Poppins', sans-serif;
	}
html {
	font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a img, :link img, :visited img {
	border: 0;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --dark-gray-color: #515253;
  --light-gray-color: #dad6d6;
  --light-color: #f8eaead0;
  --super-light-color: #fff;
  --pink-color: #fde1d6;
}

body {
  background-color: var(--light-color);
  color: var(--dark-gray-color);
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-gray-color);
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 4px 4px 6px rgb(76, 75, 72);
}

h1 > span {
  color: var(--pink-color);
  text-shadow: 4px 4px 6px rgb(76, 75, 72);
  font-size: 4rem;
  font-weight: 400;
}

h3 > span {
  color: var(--pink-color);
  text-shadow: 2px 0px 2px rgb(43, 42, 42);
}

h2, h3 {
  font-size: 2.6rem;
  font-weight: 300;
  padding: 3px;
}

h4 {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 3px;
}

h5 {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 5px;
}

li, li > p, a {
  color: var(--dark-gray-color);
  font-size: 1.5rem;
  text-decoration: none;
  align-items: center;
}

a:hover {
  cursor: pointer;
}

section {
  margin-bottom: 25px;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);;
  grid-template-areas:
    "h"
    "m"
    "f";
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  background-color: var(--super-light-color);
  filter: drop-shadow(6px 6px 8px rgb(76, 75, 72));
  overflow: hidden;
}

.left .intro {
  /* background-color: var(--light-gray-color); */
  background-color: var(--super-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 20px;
  border-bottom: 10px solid var(--super-light-color);
}

.my_img {
  width: 230px;
  border-radius: 50px 2px;
  filter: drop-shadow(4px 4px 4px rgb(117, 117, 117));
  margin: 15px;
}

.main {
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "l r r";
  margin: 10px;
}

.left h3, .right h3 {
  width: 70%;
  border-radius: 3px;
  text-align: center;
  filter: drop-shadow(3px 4px 3px rgba(134, 134, 134, 0.753));
  margin: 0px 10px 10px 0px;
}

.left h3 {
  background-color: var(--super-light-color);
}

.right h3 {
  background: linear-gradient(100deg, var(--super-light-color), var(--pink-color));
}

.left, .right {
  letter-spacing: 0.6;
  line-height: 1.5;
}

.left {
  grid-area: l;
  background: linear-gradient(100deg, var(--super-light-color), var(--pink-color));
}

.content {
  padding: 20px;
}

.right {
  grid-area: r;
  padding: 20px 20px 0px 20px;
}

.right section > ul, p {
  line-height: 1.4;
  padding-left: 5px;
}

li img {
  width: 25px;
}

a img {
  height: 22px;
}

li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.skills li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
}

li > p, a {
  padding: 5px;
}

.about p {
  padding: 5px;
  text-align: justify;
  line-height: 1.3;
}

.code {
  overflow: hidden;
  position: relative;
}

pre {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
  line-height: 1.2;
}

/* projects */
.container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b c"
    "d e";
  grid-gap: 15px;
}

.project1 {
  grid-area: a;
  height: 95%;
}

.project2 {
  grid-area: b;
}

.project3 {
  grid-area: c;
}

.project4 {
  grid-area: d;
}

.project5 {
  grid-area: e;
}

.example {
  position: relative;
  background: var(--pink-color);
  border-radius: 0.5rem;
  border: 2px solid var(--pink-color);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

.project_img {
  transition: all 0.3s linear;
  border-radius: 0.5rem;
  height: 23rem;
  object-fit: cover;
}

.project_content {
  text-align: center;
  color: var(--dark-gray-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  opacity: 0;
}

.project_content p, h5 {
  text-transform: capitalize;
  color: var(--dark-gray-color);
}

.project_content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.3rem solid var(--dark-gray-color);
  border-radius: 0.5rem;
  transition: all .3s linear;
  opacity: 0;
}

.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}

.example:hover .project_content {
  opacity: 1;
}

.example:hover .project_img {
  opacity: 0.1;
}

.example::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.3rem solid var(--dark-gray-color);
  border-radius: 0.5rem;
  transition: all 0.3s linear;
  opacity: 0;
}

.example:hover::after {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.bar {
  position: relative;
  width: 90%;
  height: 10px;
  border: 1px solid var(--light-gray-color);
  background-color: var(--super-light-color);
  display: flex;
}

.progress_bar-HTML {
  width: 85%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

.progress_bar-CSS {
  width: 90%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

.progress_bar-JS {
  width: 75%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

.progress_bar-git {
  width: 70%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

.progress_bar-vs {
  width: 70%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

.progress_bar-ps {
  width: 85%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

.progress_bar-f {
  width: 65%;
  height: 8px;
  align-self: center;
  background-color: var(--light-gray-color);
}

footer {
  grid-area: f;
  background-color: var(--light-gray-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

footer a, p {
  align-items: center;
  font-size: 1.5rem;
}

#myGit {
  display: flex;
}

/*main menu*/
.header {
  grid-area: h;
  width: 100%;
  background-color: var(--light-gray-color);
}

.menu__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-gray-color);
  box-shadow: 0px 2px 8px rgba(134, 134, 134, 0.753);
  padding: 20px;
}

.menu__main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__main-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-left: 20px;
}

.menu__main .menu__main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  background: linear-gradient(145deg, #fff, #d8d8d8);
  box-shadow: 6px 6px 12px rgb(189, 189, 189);
  border-radius: 8px;
  transition: all 300ms;
}
.menu__main .download_cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 25px;
  background: linear-gradient(145deg, #fff, #d8d8d8);
  box-shadow: 6px 6px 12px rgb(189, 189, 189);
  border-radius: 8px;
  transition: all 300ms;
}

.menu__main-descr {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--dark-gray-color);
}

.menu__main-link:hover, .download_cv:hover {
  transform: scale(1.1);
  background: linear-gradient(145deg, #fff, var(--pink-color));
}

.menu__main-link:active, .download_cv:active {
  color: var(--pink-color);
}

/*burger*/
.overlay {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(182, 180, 180, 0.5);
  transition: all 0.5s;
}

.overlay.active {
  display: block;
}

#burger {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  filter: drop-shadow(2px 1px 2px rgb(54, 54, 54));
}

#burger:hover {
  cursor: pointer;
}

#burger_img {
  transition: transform 0.5s;
}

.menu_list {
  position: absolute;
  top: 10px;
  right: -320px;
  z-index: 9;
  width: 300px;
  border-radius: 10px;
  background-color: var(--pink-color);
  opacity: .9;
  filter: drop-shadow(2px 2px 6px rgb(75, 74, 74));
  transition: right 0.8s;
}

.menu_list.open {
  right: 10px;
}

.menu_title {
  margin: 20px;
}

.menu_title > h3 {
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgb(128, 126, 126);
}

hr {
  width: 90%;
  border: 1px solid var(--dark-gray-color)
}

.menu_content {
  margin-left: 20px;
}

.menu_item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: left;
}

.link {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--pink-color);
}

.link:hover {
  transform: translateX(2px);
  border-bottom: 2px solid var(--dark-gray-color);
}



















@media only screen and (max-width: 1230px) {
  #burger {
    display: block;
  }
  .menu__main {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "m"
      "f";
    width: 90%;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "a"
      "c"
      "b"
      "d"
      "e";
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 950px) {
  #project {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "t"
      "i";
  }
}

@media only screen and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "l"
      "r";
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 540px) {
  .right, .intro {
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 0;
    background: 0 0;
  }
  html {
    font-size: 7px;
  }
  h5 {
    font-size: 2.2rem;
  }
  li, li > p, a, p {
    font-size: 1.9rem;
  }
  .link {
    font-size: 2.2rem;
  }
  .wrapper {
    width: 95%;
    margin: 10px auto;
    border-radius: 5px;
  }
  #project {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "t"
      "i";
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 6px;
  }
  .git {
    display: none;
  }
}
